.flex-container {
  margin: 0;
  padding: 5px 0 5px 10px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.flex-container:last-child {
  border-bottom: none;
}

.user-info {
  max-width: 530px;
  margin-left: 15px;
}

.user-info > h2 {
  margin: 5px 0 5px 0;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
}

.user-info > p {
  margin: 0 0 2.5px 15px;
}

.tagbar {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
}

.tagbar > p {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.expandible-button {
  color: gray;
  font-size: 46px;
  width: 46px;
  margin: 0 0 auto auto;
  background-color: transparent;
  border: none;
}

.expandible-button:hover {
  color: black;
}
